body {
	overflow-x:hidden;
	background-color:#211b21;
	   font-family: Roboto, sans-serif;
}

#header{
margin-left:-8px;
margin-right:-8px;
margin-top:-8px;
line-height:74px;
	height: 80px;
background-color:#12654aab;
	text-align: center;
	font-family: Century Gothic,Arial;
   font-size: 27px;
   cursor: pointer;
   
	}
		#header a{
text-decoration: none;
	padding: 8px;
	border: none;
	color:#fff;
		}

	#header a:hover{
		border:1px solid red;
color:indigo;
background-color: white;
	padding: 13px;
	transition: 0.7s ease-in-out;
	}


	.navBar{
		height:40px;
			margin-left:-8px;
margin-right:-8px;
margin-top:-16px;
background-color:#6D326D;
}

	.navBar ul{
		list-style-type: none;
		padding: 5px;
		text-align:left;
	}

	.navBar ul li{
		padding: 14px;
display: inline;
font-family: sans-serif;
	}

.navBar ul li a{
text-decoration:none ;
padding-top: 7px;
padding-bottom: 7px;
font-size: 19px;
color:#fff;
font-family:sans-serif;
transition: all 0.8s ease-in-out;
	}
		.active {
	border-bottom: 1px solid #fff;
	background-color:indigo;
	padding:5px;
    color: white;
}

.navBar ul li a:hover{
background-color: #e5e4d7;
color:indigo;
border-radius: 2px;
line-height: 1.2em;
vertical-align: middle;
border-bottom: 2px solid red;
border-top: 1px solid red;
    transition: 0.5s all ease-out ;
    padding: 17px 0;
}

/* =======>footer section<===========*/


#page-container {
	
  position: relative;
    min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.0rem;    /* Footer height */
}
	
.footer{
	
	background:#db942a;
	text-align:center;
	font-family:georgian;  /*for both left and right */
   font-size:16px;
   line-height:1.4em;
   clear:both;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  margin-left:-8px;
  margin-bottom:-8px;
  height: 3.0rem;            /* Footer height */
}


.mainContent_index_page{
		background-color:#a7a047;
	font-size:14px;
	margin:6px;
	border-radius: 10px;
	padding: 7px;
	font-family: sans-serif;
}
.sidebar{
	margin:6px;
	background-color:#5fa1d3;
	font-size:15px;
	padding: 6px;
	line-height:1.4em;
		border-radius: 11px;
	font-family: sans-serif;
	
}
.block_Title span{
	color:green;
}
/*decorating social media buttons */
.s-m{
  margin-right: auto;
    margin-left: auto;
  justify-content: space-around;
  display: flex;
}
.s-m a{
  text-decoration: none;
  font-size: 28px;
  color: #58aeb0; 
  width: 50px;
  height: 50px;
  text-align: center;
  transition: 0.4s all;
  line-height: 48px;
  cursor: pointer;
 background: #314652; 
  border-radius: 50%;
}
.s-m a:hover{
  transform: scale(1.2);
}


